* {
    box-sizing: border-box;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: lightseagreen;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header nav {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul { 
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header img {
    height: 95px;
    width: 100vw;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    padding:1%;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    justify-content:flex-start;
    background-color:black;
}



.about-me {
    color: lightseagreen;
}

.about-me img {
    height: 200px;
    width: 150px;
    display: flex;
    justify-content: flex-end;
}

.hello {
    font-size: 36px;
}

.work {
    color: lightseagreen;
}

.contact-me {
    color: lightseagreen;

}

.phone {
    display: flex;
    justify-content: center;
}


a {
    color: lightseagreen;
}


  
footer img {
    height: 95px;
    width: 100vw;
}

footer {
    color: lightseagreen;
    text-align: center;
}