* {
    box-sizing: border-box;
}

html {
    scroll-padding-top: 4rem;
}

@keyframes example {
    from {background-color: #34495E;}
    to {background-color: #BDC3C7;}
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #34495E;
    color: lightseagreen
}

header h1 {
    display: inline-block;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    animation-name: example;
    animation-duration: 5s;
}


header nav {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin:0;
}

header nav ul { 
    list-style-type: none;
    margin: 0;
    height: 3rem;
    position: sticky;
    top: 0;
}


header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    background-color:#BDC3C7;
}


.about-me {
    color: lightseagreen;
    text-align: center;
}

.about-me img {
    height: 175px;
    width: 150px;
    border: solid;
    border-width: 5px;
}

.hello {
    font-size: 36px;
}

.work {
    color: lightseagreen;
}

.contact-me {
    color: lightseagreen;
    display:flex;
    justify-content: space-between;
}


.phone {
    margin-right: 50px;
}


a {
    color: lightseagreen;
}

 
footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: #34495E;
    color: lightseagreen;
    display: flex;
    justify-content: center;
    padding: 2%;
}




